<a href="https://colab.research.google.com/github/franklinokech/CMP73010-Ass1-2018/blob/master/MER_DATA_WRANGLING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Wrangling of Marking and Evaluation Raw Data
## Problem Statement
The current raw data set from the survey cto had issues with how the data was migrated from the survey cto into Gsheets and resulted in some data being poorly formated and some missing values. The BI discovered this issues particularly with the MER_2018 and suggested a thorough QC be done onto the datasets using the original data from the Survey CTO server. This notebook gives the literature of how the wrangling was done to ensure the datasets are cleaned and that no missing values are present. This is key in knowing what operations have been done to a particular farm and what was the output.

## Proposed solution
The proposed solution is to revist the MER datasets is their raw format and do some wrangling to get the key status of the farm after each operation. Key items required is the kcode, number of trees counted and the dbh data. The steps are outlines below
### Steps
1. Import the datasets
2. Select Key Attributes
3. Dealing with missing values
4. Merging the compiled datasets

# Importing Datasets

In [0]:
# Import key data analysis libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
# Import Libraries for connecting to Google drive
!pip install --upgrade -q gspread

## Get the Evaluation Report v3_WIDE

In [0]:
# Authenticate to Google drive and get the required dataset
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

In [318]:
# import Evaluation Report v3_WIDE
sh = gc.open('Evaluation Report v3_WIDE')
# Select Spreadsheet
# By title
worksheet_v3 = sh.worksheet('Evaluation Report v3_WIDE')
data_v3 = worksheet_v3.get_all_values()
headers = data_v3.pop(0)

df_v3 = pd.DataFrame(data_v3, columns=headers)

# Preview dataframe
df_v3.head()

            SubmissionDate  ...                                        KEY
0  Feb 1, 2018 10:16:29 AM  ...  uuid:e7955a2a-72c6-40c9-813b-e364761172c6
1   Feb 1, 2018 5:27:13 PM  ...  uuid:d706a4bb-7d4d-47d0-bce9-70bed43b0c9f
2   Feb 1, 2018 5:27:14 PM  ...  uuid:3841ddb7-48d5-45d8-b189-d56ea5545e7c
3   Feb 1, 2018 5:27:15 PM  ...  uuid:546e54ee-3656-4f4c-86b4-b1bd812348cf
4   Feb 2, 2018 7:00:07 AM  ...  uuid:46f22d59-76e2-4490-b93d-4d368754a8aa

[5 rows x 624 columns]

In [319]:
# Get a subset of the dataset
df_v3_filter = df_v3[['SubmissionDate', 'username', 'uniqueID', 'tree_count', 'KEY']]

# Preview the filter
df_v3_filter.head()

            SubmissionDate  ...                                        KEY
0  Feb 1, 2018 10:16:29 AM  ...  uuid:e7955a2a-72c6-40c9-813b-e364761172c6
1   Feb 1, 2018 5:27:13 PM  ...  uuid:d706a4bb-7d4d-47d0-bce9-70bed43b0c9f
2   Feb 1, 2018 5:27:14 PM  ...  uuid:3841ddb7-48d5-45d8-b189-d56ea5545e7c
3   Feb 1, 2018 5:27:15 PM  ...  uuid:546e54ee-3656-4f4c-86b4-b1bd812348cf
4   Feb 2, 2018 7:00:07 AM  ...  uuid:46f22d59-76e2-4490-b93d-4d368754a8aa

[5 rows x 5 columns]

In [320]:
# Rename the columns
df_v3_filter.rename(columns={'SubmissionDate': 'date', 'uniqueID': 'farmid', 'KEY': 'primary_key'}, inplace=True)

# Preview the dataframe
df_v3_filter.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                      date  ...                                primary_key
0  Feb 1, 2018 10:16:29 AM  ...  uuid:e7955a2a-72c6-40c9-813b-e364761172c6
1   Feb 1, 2018 5:27:13 PM  ...  uuid:d706a4bb-7d4d-47d0-bce9-70bed43b0c9f
2   Feb 1, 2018 5:27:14 PM  ...  uuid:3841ddb7-48d5-45d8-b189-d56ea5545e7c
3   Feb 1, 2018 5:27:15 PM  ...  uuid:546e54ee-3656-4f4c-86b4-b1bd812348cf
4   Feb 2, 2018 7:00:07 AM  ...  uuid:46f22d59-76e2-4490-b93d-4d368754a8aa

[5 rows x 5 columns]

In [321]:
# Check the data types of the dataset
df_v3_filter.dtypes

date           object
username       object
farmid         object
tree_count     object
primary_key    object
dtype: object

In [322]:
# cast the data types to correct formats

df_v3_filter.date = pd.to_datetime(df_v3_filter.date)
df_v3_filter.tree_count = pd.to_numeric(df_v3_filter.tree_count)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [323]:
# Check the new data types
df_v3_filter.dtypes

date           datetime64[ns]
username               object
farmid                 object
tree_count            float64
primary_key            object
dtype: object

In [324]:
df_v3_filter.head()

                 date  ...                                primary_key
0 2018-02-01 10:16:29  ...  uuid:e7955a2a-72c6-40c9-813b-e364761172c6
1 2018-02-01 17:27:13  ...  uuid:d706a4bb-7d4d-47d0-bce9-70bed43b0c9f
2 2018-02-01 17:27:14  ...  uuid:3841ddb7-48d5-45d8-b189-d56ea5545e7c
3 2018-02-01 17:27:15  ...  uuid:546e54ee-3656-4f4c-86b4-b1bd812348cf
4 2018-02-02 07:00:07  ...  uuid:46f22d59-76e2-4490-b93d-4d368754a8aa

[5 rows x 5 columns]

## Get the Evaluation Report v4_WIDE

In [325]:
# import Evaluation Report v3_WIDE
sh = gc.open('Evaluation Report v4_WIDE')
# Select Spreadsheet
# By title
worksheet_v4 = sh.worksheet('Evaluation Report v4_WIDE')
data_v4 = worksheet_v4.get_all_values()
headers = data_v4.pop(0)

df_v4 = pd.DataFrame(data_v4, columns=headers)

# Preview dataframe
df_v4.head()

            SubmissionDate  ... review_corrections
0  Oct 8, 2018 12:03:54 PM  ...
1  Oct 8, 2018 12:03:55 PM  ...
2   Oct 8, 2018 4:39:56 PM  ...
3   Oct 8, 2018 4:39:57 PM  ...
4   Oct 8, 2018 4:39:58 PM  ...

[5 rows x 611 columns]

In [326]:
# Get a subset of the dataset
df_v4_filter = df_v4[['SubmissionDate', 'username', 'uniqueID', 'tree_count', 'KEY']]

# Preview the filter
df_v4_filter.head()

            SubmissionDate  ...                                        KEY
0  Oct 8, 2018 12:03:54 PM  ...  uuid:c5708dba-f2f5-4ed9-8372-ae838941399e
1  Oct 8, 2018 12:03:55 PM  ...  uuid:38206e0a-e900-4023-8b86-e97683a257d8
2   Oct 8, 2018 4:39:56 PM  ...  uuid:f5dcbb1f-5ab3-4e6f-a83c-d9fedec0af5e
3   Oct 8, 2018 4:39:57 PM  ...  uuid:0d875941-a60c-45e6-8f2b-d9ea1fcd06bc
4   Oct 8, 2018 4:39:58 PM  ...  uuid:ca859d39-ac8c-4d85-9bb4-626ba735276f

[5 rows x 5 columns]

In [327]:
# Rename the columns
df_v4_filter.rename(columns={'SubmissionDate': 'date', 'uniqueID': 'farmid', 'KEY': 'primary_key'}, inplace=True)

# Preview the dataframe
df_v4_filter.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                      date  ...                                primary_key
0  Oct 8, 2018 12:03:54 PM  ...  uuid:c5708dba-f2f5-4ed9-8372-ae838941399e
1  Oct 8, 2018 12:03:55 PM  ...  uuid:38206e0a-e900-4023-8b86-e97683a257d8
2   Oct 8, 2018 4:39:56 PM  ...  uuid:f5dcbb1f-5ab3-4e6f-a83c-d9fedec0af5e
3   Oct 8, 2018 4:39:57 PM  ...  uuid:0d875941-a60c-45e6-8f2b-d9ea1fcd06bc
4   Oct 8, 2018 4:39:58 PM  ...  uuid:ca859d39-ac8c-4d85-9bb4-626ba735276f

[5 rows x 5 columns]

In [328]:
# Check the data types of the dataset
df_v4_filter.dtypes

date           object
username       object
farmid         object
tree_count     object
primary_key    object
dtype: object

In [329]:
# cast the data types to correct formats

df_v4_filter.date = pd.to_datetime(df_v4_filter.date)
df_v4_filter.tree_count = pd.to_numeric(df_v4_filter.tree_count)

# Preview dtypes
df_v4_filter.dtypes

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

date           datetime64[ns]
username               object
farmid                 object
tree_count            float64
primary_key            object
dtype: object

In [330]:
# Preview the dataframe
df_v4_filter.tail()

                   date  ...                                primary_key
272 2018-12-06 17:06:29  ...  uuid:7493f3c0-aec7-453e-8966-179d332030b6
273 2018-12-06 17:06:30  ...  uuid:164f78a4-c3e8-4c6f-8adf-787d7490f26e
274 2018-12-06 17:06:32  ...  uuid:ca90bef6-ff6d-4cae-92b0-1d056ada5524
275 2018-12-06 17:06:33  ...  uuid:663000e7-9c9c-4ba7-9083-9df372ddf676
276 2018-12-06 17:06:33  ...  uuid:1ffa57f4-c403-4cf4-bd54-f1563b03fa05

[5 rows x 5 columns]

## Evaluation Report_WIDE
This represent the 2017 mer. For purpose of this analysis, will call dataframe v2

In [331]:
# import Evaluation Report v3_WIDE
sh = gc.open('Evaluation Report_WIDE')
# Select Spreadsheet
# By title
worksheet_v2 = sh.worksheet('Evaluation Report_WIDE')
data_v2 = worksheet_v2.get_all_values()
headers = data_v2.pop(0)

df_v2 = pd.DataFrame(data_v2, columns=headers)

# Preview dataframe
df_v2.head()

             SubmissionDate  ...                                        KEY
0  Aug 29, 2017 11:39:00 AM  ...  uuid:0b4cf03b-3e17-49b0-955b-4a75e8a84703
1   Sep 12, 2017 6:36:47 PM  ...  uuid:f2ec2efd-1bca-440b-ac4b-3a0ce2756d7e
2   Sep 12, 2017 6:36:47 PM  ...  uuid:5e81e5e5-5853-4e80-a6ab-fd41d78bdc7c
3   Sep 12, 2017 6:36:48 PM  ...  uuid:42e9b676-19ea-409f-94fc-d891f08c0c77
4   Sep 12, 2017 6:56:23 PM  ...  uuid:7ee6c885-0a08-465f-98e0-f06f0498d1b7

[5 rows x 371 columns]

### # This dataset don't have a fiedd for tree_count, means more processing needs to be done to figure that out

In [332]:
# Filter columns
#submissiondate	farmid	username	dbh
filter_col = [col for col in df_v2 if col == 'SubmissionDate' or col == 'username' or col == 'uniqueID' or col == 'KEY' or col.startswith('dbh_')]
filter_col

['SubmissionDate',
 'username',
 'uniqueID',
 'dbh_1',
 'dbh_2',
 'dbh_3',
 'dbh_4',
 'dbh_5',
 'dbh_6',
 'dbh_7',
 'dbh_8',
 'dbh_9',
 'dbh_10',
 'dbh_11',
 'dbh_12',
 'dbh_13',
 'dbh_14',
 'dbh_15',
 'dbh_16',
 'dbh_17',
 'dbh_18',
 'dbh_19',
 'dbh_20',
 'dbh_21',
 'dbh_22',
 'dbh_23',
 'dbh_24',
 'dbh_25',
 'dbh_26',
 'dbh_27',
 'dbh_28',
 'dbh_29',
 'dbh_30',
 'dbh_31',
 'dbh_32',
 'dbh_33',
 'dbh_34',
 'dbh_35',
 'dbh_36',
 'dbh_37',
 'dbh_38',
 'dbh_39',
 'dbh_40',
 'dbh_41',
 'dbh_42',
 'dbh_43',
 'dbh_44',
 'dbh_45',
 'dbh_46',
 'dbh_47',
 'dbh_48',
 'dbh_49',
 'dbh_50',
 'dbh_51',
 'dbh_52',
 'dbh_53',
 'dbh_54',
 'dbh_55',
 'dbh_56',
 'dbh_57',
 'dbh_58',
 'dbh_59',
 'dbh_60',
 'dbh_61',
 'dbh_62',
 'dbh_63',
 'dbh_64',
 'dbh_65',
 'dbh_66',
 'dbh_67',
 'dbh_68',
 'dbh_69',
 'dbh_70',
 'dbh_71',
 'dbh_72',
 'dbh_73',
 'dbh_74',
 'dbh_75',
 'dbh_76',
 'dbh_77',
 'dbh_78',
 'dbh_79',
 'dbh_80',
 'dbh_81',
 'dbh_82',
 'dbh_83',
 'dbh_84',
 'dbh_85',
 'dbh_86',
 'dbh_87',
 'dbh_88',
 'dbh_89',
 'dbh_90',
 'dbh_91',
 'dbh_92',
 'dbh_93',
 'dbh_94',
 'dbh_95',
 'dbh_96',
 'dbh_97',
 'dbh_98',
 'dbh_99',
 'dbh_100',
 'dbh_101',
 'dbh_102',
 'dbh_103',
 'dbh_104',
 'dbh_105',
 'dbh_106',
 'dbh_107',
 'dbh_108',
 'dbh_109',
 'dbh_110',
 'dbh_111',
 'dbh_112',
 'dbh_113',
 'dbh_114',
 'dbh_115',
 'dbh_116',
 'dbh_117',
 'dbh_118',
 'dbh_119',
 'dbh_120',
 'dbh_121',
 'dbh_122',
 'dbh_123',
 'dbh_124',
 'dbh_125',
 'dbh_126',
 'dbh_127',
 'dbh_128',
 'dbh_129',
 'dbh_130',
 'dbh_131',
 'dbh_132',
 'dbh_133',
 'dbh_134',
 'dbh_135',
 'dbh_136',
 'dbh_137',
 'dbh_138',
 'dbh_139',
 'dbh_140',
 'dbh_141',
 'dbh_142',
 'dbh_143',
 'dbh_144',
 'dbh_145',
 'dbh_146',
 'dbh_147',
 'dbh_148',
 'dbh_149',
 'dbh_150',
 'dbh_151',
 'dbh_152',
 'dbh_153',
 'dbh_154',
 'dbh_155',
 'dbh_156',
 'dbh_157',
 'dbh_158',
 'dbh_159',
 'dbh_160',
 'dbh_161',
 'dbh_162',
 'dbh_163',
 'dbh_164',
 'dbh_165',
 'dbh_166',
 'dbh_167',
 'dbh_168',
 'dbh_169',
 'dbh_170',
 'dbh_171',
 'dbh_172',
 'dbh_173',
 'dbh_174',
 'dbh_175',
 'dbh_176',
 'dbh_177',
 'dbh_178',
 'dbh_179',
 'dbh_180',
 'dbh_181',
 'dbh_182',
 'dbh_183',
 'dbh_184',
 'dbh_185',
 'dbh_186',
 'dbh_187',
 'dbh_188',
 'dbh_189',
 'dbh_190',
 'dbh_191',
 'dbh_192',
 'dbh_193',
 'dbh_194',
 'dbh_195',
 'dbh_196',
 'dbh_197',
 'dbh_198',
 'dbh_199',
 'dbh_200',
 'dbh_201',
 'dbh_202',
 'dbh_203',
 'dbh_204',
 'dbh_205',
 'dbh_206',
 'dbh_207',
 'dbh_208',
 'dbh_209',
 'dbh_210',
 'dbh_211',
 'dbh_212',
 'dbh_213',
 'dbh_214',
 'dbh_215',
 'dbh_216',
 'dbh_217',
 'dbh_218',
 'dbh_219',
 'dbh_220',
 'dbh_221',
 'dbh_222',
 'dbh_223',
 'dbh_224',
 'dbh_225',
 'dbh_226',
 'dbh_227',
 'dbh_228',
 'dbh_229',
 'dbh_230',
 'dbh_231',
 'dbh_232',
 'dbh_233',
 'dbh_234',
 'dbh_235',
 'dbh_236',
 'dbh_237',
 'dbh_238',
 'dbh_239',
 'dbh_240',
 'dbh_241',
 'dbh_242',
 'dbh_243',
 'dbh_244',
 'dbh_245',
 'dbh_246',
 'dbh_247',
 'dbh_248',
 'dbh_249',
 'dbh_250',
 'dbh_251',
 'dbh_252',
 'dbh_253',
 'dbh_254',
 'dbh_255',
 'dbh_256',
 'dbh_257',
 'dbh_258',
 'dbh_259',
 'dbh_260',
 'dbh_261',
 'dbh_262',
 'dbh_263',
 'dbh_264',
 'dbh_265',
 'dbh_266',
 'dbh_267',
 'dbh_268',
 'dbh_269',
 'dbh_270',
 'dbh_271',
 'dbh_272',
 'dbh_273',
 'dbh_274',
 'dbh_275',
 'dbh_276',
 'dbh_277',
 'dbh_278',
 'dbh_279',
 'dbh_280',
 'dbh_281',
 'dbh_282',
 'dbh_283',
 'dbh_284',
 'dbh_285',
 'dbh_286',
 'dbh_287',
 'dbh_288',
 'dbh_289',
 'dbh_290',
 'dbh_291',
 'dbh_292',
 'dbh_293',
 'dbh_294',
 'dbh_295',
 'dbh_296',
 'dbh_297',
 'dbh_298',
 'dbh_299',
 'dbh_300',
 'KEY']

In [333]:
# Select only the filtered columns
df_2_filtered = df_v2[filter_col]

# Preview the new dataset
df_2_filtered.head()

             SubmissionDate  ...                                        KEY
0  Aug 29, 2017 11:39:00 AM  ...  uuid:0b4cf03b-3e17-49b0-955b-4a75e8a84703
1   Sep 12, 2017 6:36:47 PM  ...  uuid:f2ec2efd-1bca-440b-ac4b-3a0ce2756d7e
2   Sep 12, 2017 6:36:47 PM  ...  uuid:5e81e5e5-5853-4e80-a6ab-fd41d78bdc7c
3   Sep 12, 2017 6:36:48 PM  ...  uuid:42e9b676-19ea-409f-94fc-d891f08c0c77
4   Sep 12, 2017 6:56:23 PM  ...  uuid:7ee6c885-0a08-465f-98e0-f06f0498d1b7

[5 rows x 304 columns]

In [334]:
# Melt down the dataframe from wide to long format

df_2_melted = df_2_filtered.melt(
    id_vars = ['SubmissionDate', 'username', 'uniqueID', 'KEY'],
    var_name = 'tree_dbh',
    value_name = 'dbh_value'
  )

# Preview the melted df
df_2_melted.head()

             SubmissionDate                   username  ... tree_dbh dbh_value
0  Aug 29, 2017 11:39:00 AM  daniel.anastos@komaza.org  ...    dbh_1
1   Sep 12, 2017 6:36:47 PM                       demo  ...    dbh_1       3.3
2   Sep 12, 2017 6:36:47 PM                       demo  ...    dbh_1         2
3   Sep 12, 2017 6:36:48 PM                       demo  ...    dbh_1       3.5
4   Sep 12, 2017 6:56:23 PM                       demo  ...    dbh_1       2.5

[5 rows x 6 columns]

In [335]:
# check datatypes
df_2_melted.dtypes

SubmissionDate    object
username          object
uniqueID          object
KEY               object
tree_dbh          object
dbh_value         object
dtype: object

In [336]:
# Convert data types tp correct formats
df_2_melted.SubmissionDate = pd.to_datetime(df_2_melted.SubmissionDate)
df_2_melted.dbh_value = pd.to_numeric(df_2_melted.dbh_value)

# Preview dtypes
df_2_melted.dtypes

SubmissionDate    datetime64[ns]
username                  object
uniqueID                  object
KEY                       object
tree_dbh                  object
dbh_value                float64
dtype: object

In [337]:
# Preview data frame
df_2_melted.head()

       SubmissionDate                   username  ... tree_dbh dbh_value
0 2017-08-29 11:39:00  daniel.anastos@komaza.org  ...    dbh_1       NaN
1 2017-09-12 18:36:47                       demo  ...    dbh_1       3.3
2 2017-09-12 18:36:47                       demo  ...    dbh_1       2.0
3 2017-09-12 18:36:48                       demo  ...    dbh_1       3.5
4 2017-09-12 18:56:23                       demo  ...    dbh_1       2.5

[5 rows x 6 columns]

In [338]:
# filter only rows with dbh value
df_2_melted = df_2_melted[df_2_melted['dbh_value'].notna()]

# Preview
df_2_melted.head()

       SubmissionDate username  ... tree_dbh dbh_value
1 2017-09-12 18:36:47     demo  ...    dbh_1       3.3
2 2017-09-12 18:36:47     demo  ...    dbh_1       2.0
3 2017-09-12 18:36:48     demo  ...    dbh_1       3.5
4 2017-09-12 18:56:23     demo  ...    dbh_1       2.5
5 2017-09-12 18:56:24     demo  ...    dbh_1       2.6

[5 rows x 6 columns]

In [339]:
# Aggregate the data by counting the dbh values
df_2_aggr = df_2_melted.pivot_table(index=['SubmissionDate', 'username', 'uniqueID', 'KEY'], values=['dbh_value'], aggfunc='count')

# Preveiw the aggregated dataframe
df_2_aggr.head()

                                                                                 dbh_value
SubmissionDate      username uniqueID KEY
2017-09-12 18:36:47 demo     Lash10   uuid:5e81e5e5-5853-4e80-a6ab-fd41d78bdc7c         36
                             Lash11   uuid:f2ec2efd-1bca-440b-ac4b-3a0ce2756d7e        202
2017-09-12 18:36:48 demo     Lash6    uuid:42e9b676-19ea-409f-94fc-d891f08c0c77         14
2017-09-12 18:56:23 demo     lash20   uuid:7ee6c885-0a08-465f-98e0-f06f0498d1b7        151
2017-09-12 18:56:24 demo     Lash9    uuid:395afe65-c47c-4f93-8e24-2c87f9539626        219

In [340]:
# Reset index
df_2_aggr.reset_index(inplace=True)

# Preview dataset
df_2_aggr.head()

       SubmissionDate  ... dbh_value
0 2017-09-12 18:36:47  ...        36
1 2017-09-12 18:36:47  ...       202
2 2017-09-12 18:36:48  ...        14
3 2017-09-12 18:56:23  ...       151
4 2017-09-12 18:56:24  ...       219

[5 rows x 5 columns]

In [341]:
# Rearrange the column positions
df_2_final = df_2_aggr[['SubmissionDate', 'username', 'uniqueID', 'dbh_value', 'KEY']]

# Preview the new arranged dataset
df_2_final.head()

       SubmissionDate  ...                                        KEY
0 2017-09-12 18:36:47  ...  uuid:5e81e5e5-5853-4e80-a6ab-fd41d78bdc7c
1 2017-09-12 18:36:47  ...  uuid:f2ec2efd-1bca-440b-ac4b-3a0ce2756d7e
2 2017-09-12 18:36:48  ...  uuid:42e9b676-19ea-409f-94fc-d891f08c0c77
3 2017-09-12 18:56:23  ...  uuid:7ee6c885-0a08-465f-98e0-f06f0498d1b7
4 2017-09-12 18:56:24  ...  uuid:395afe65-c47c-4f93-8e24-2c87f9539626

[5 rows x 5 columns]

In [342]:
# Rename columns to match prior datasets
df_2_final.rename(columns={'SubmissionDate': 'date', 'uniqueID': 'farmid', 'dbh_value': 'tree_count', 'KEY': 'primary_key'}, inplace=True)

# Preview the changes column names
df_2_final.head()

                 date  ...                                primary_key
0 2017-09-12 18:36:47  ...  uuid:5e81e5e5-5853-4e80-a6ab-fd41d78bdc7c
1 2017-09-12 18:36:47  ...  uuid:f2ec2efd-1bca-440b-ac4b-3a0ce2756d7e
2 2017-09-12 18:36:48  ...  uuid:42e9b676-19ea-409f-94fc-d891f08c0c77
3 2017-09-12 18:56:23  ...  uuid:7ee6c885-0a08-465f-98e0-f06f0498d1b7
4 2017-09-12 18:56:24  ...  uuid:395afe65-c47c-4f93-8e24-2c87f9539626

[5 rows x 5 columns]

### Evaluation Report_v5_WIDE

In [343]:
# import Evaluation Report v3_WIDE
sh = gc.open('Evaluation Report_v5_WIDE')
# Select Spreadsheet
# By title
worksheet_v5 = sh.worksheet('Evaluation Report_v5_WIDE')
data_v5 = worksheet_v5.get_all_values()
headers = data_v5.pop(0)

df_v5 = pd.DataFrame(data_v5, columns=headers)

# Preview dataframe
df_v5.head()

            SubmissionDate  ...                                        KEY
0   May 7, 2019 4:25:51 PM  ...  uuid:084b2101-a90f-44ce-984a-0e472bb0244c
1   May 7, 2019 4:26:57 PM  ...  uuid:58c0c06f-f7e0-4616-b751-7f5b1a2e1910
2   May 8, 2019 3:01:52 PM  ...  uuid:de95ea8a-71af-44ac-8f99-afc401b7323d
3  Aug 8, 2019 11:07:49 AM  ...  uuid:1baf636c-6d55-49a8-8230-b899cbca354d

[4 rows x 2538 columns]

In [344]:
# Get a subset of the dataset
df_v5_filter = df_v5[['SubmissionDate', 'username', 'uniqueID', 'tree_count', 'KEY']]

# Preview the filter
df_v5_filter.head()

            SubmissionDate  ...                                        KEY
0   May 7, 2019 4:25:51 PM  ...  uuid:084b2101-a90f-44ce-984a-0e472bb0244c
1   May 7, 2019 4:26:57 PM  ...  uuid:58c0c06f-f7e0-4616-b751-7f5b1a2e1910
2   May 8, 2019 3:01:52 PM  ...  uuid:de95ea8a-71af-44ac-8f99-afc401b7323d
3  Aug 8, 2019 11:07:49 AM  ...  uuid:1baf636c-6d55-49a8-8230-b899cbca354d

[4 rows x 5 columns]

In [345]:
# Rename the columns
df_v5_filter.rename(columns={'SubmissionDate': 'date', 'uniqueID': 'farmid', 'KEY': 'primary_key'}, inplace=True)

# Preview the dataframe
df_v5_filter.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                      date  ...                                primary_key
0   May 7, 2019 4:25:51 PM  ...  uuid:084b2101-a90f-44ce-984a-0e472bb0244c
1   May 7, 2019 4:26:57 PM  ...  uuid:58c0c06f-f7e0-4616-b751-7f5b1a2e1910
2   May 8, 2019 3:01:52 PM  ...  uuid:de95ea8a-71af-44ac-8f99-afc401b7323d
3  Aug 8, 2019 11:07:49 AM  ...  uuid:1baf636c-6d55-49a8-8230-b899cbca354d

[4 rows x 5 columns]

In [346]:
# Check the data types of the dataset
df_v5_filter.dtypes

date           object
username       object
farmid         object
tree_count     object
primary_key    object
dtype: object

In [347]:
# cast the data types to correct formats

df_v5_filter.date = pd.to_datetime(df_v5_filter.date)
df_v5_filter.tree_count = pd.to_numeric(df_v5_filter.tree_count)

# Preview dtypes
df_v5_filter.dtypes

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

date           datetime64[ns]
username               object
farmid                 object
tree_count              int64
primary_key            object
dtype: object

In [348]:
# Preview the dataframe
df_v5_filter.head()

                 date  ...                                primary_key
0 2019-05-07 16:25:51  ...  uuid:084b2101-a90f-44ce-984a-0e472bb0244c
1 2019-05-07 16:26:57  ...  uuid:58c0c06f-f7e0-4616-b751-7f5b1a2e1910
2 2019-05-08 15:01:52  ...  uuid:de95ea8a-71af-44ac-8f99-afc401b7323d
3 2019-08-08 11:07:49  ...  uuid:1baf636c-6d55-49a8-8230-b899cbca354d

[4 rows x 5 columns]

### EvaluationCOMMs_Pilot_WIDE

In [349]:
# import Evaluation comms pilot WIDE
sh = gc.open('EvaluationCOMMs_Pilot_WIDE')
# Select Spreadsheet
# By title
worksheet_v6 = sh.worksheet('EvaluationCOMMs_Pilot_WIDE')
data_v6 = worksheet_v6.get_all_values()
headers = data_v6.pop(0)

df_v6 = pd.DataFrame(data_v6, columns=headers)

# Preview dataframe
df_v6.head()

            SubmissionDate  ...                                        KEY
0  Nov 26, 2018 5:02:08 PM  ...  uuid:ee411bd4-40c3-4b26-b6c3-5f9dd54a2d2b
1  Nov 26, 2018 5:02:08 PM  ...  uuid:f3e1f78e-ff75-4093-9432-bc3df0ed9c86
2  Nov 26, 2018 5:02:09 PM  ...  uuid:1b653008-172e-4993-a0d1-509bcbddd1f2
3  Nov 27, 2018 6:05:06 PM  ...  uuid:5d9db66a-3b6b-4658-b1f8-a8f2f93caaa8
4  Nov 27, 2018 6:05:07 PM  ...  uuid:8adff194-9aa6-41cb-a922-c44b63ad99fb

[5 rows x 5575 columns]

In [350]:
# Get a subset of the dataset
df_v6_filter = df_v6[['SubmissionDate', 'username', 'uniqueID', 'tree_count', 'KEY']]

# Preview the filter
df_v6_filter.head()

            SubmissionDate  ...                                        KEY
0  Nov 26, 2018 5:02:08 PM  ...  uuid:ee411bd4-40c3-4b26-b6c3-5f9dd54a2d2b
1  Nov 26, 2018 5:02:08 PM  ...  uuid:f3e1f78e-ff75-4093-9432-bc3df0ed9c86
2  Nov 26, 2018 5:02:09 PM  ...  uuid:1b653008-172e-4993-a0d1-509bcbddd1f2
3  Nov 27, 2018 6:05:06 PM  ...  uuid:5d9db66a-3b6b-4658-b1f8-a8f2f93caaa8
4  Nov 27, 2018 6:05:07 PM  ...  uuid:8adff194-9aa6-41cb-a922-c44b63ad99fb

[5 rows x 5 columns]

In [351]:
# Rename the columns
df_v6_filter.rename(columns={'SubmissionDate': 'date', 'uniqueID': 'farmid', 'KEY': 'primary_key'}, inplace=True)

# Preview the dataframe
df_v6_filter.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                      date  ...                                primary_key
0  Nov 26, 2018 5:02:08 PM  ...  uuid:ee411bd4-40c3-4b26-b6c3-5f9dd54a2d2b
1  Nov 26, 2018 5:02:08 PM  ...  uuid:f3e1f78e-ff75-4093-9432-bc3df0ed9c86
2  Nov 26, 2018 5:02:09 PM  ...  uuid:1b653008-172e-4993-a0d1-509bcbddd1f2
3  Nov 27, 2018 6:05:06 PM  ...  uuid:5d9db66a-3b6b-4658-b1f8-a8f2f93caaa8
4  Nov 27, 2018 6:05:07 PM  ...  uuid:8adff194-9aa6-41cb-a922-c44b63ad99fb

[5 rows x 5 columns]

In [352]:
# Check the data types of the dataset
df_v6_filter.dtypes

date           object
username       object
farmid         object
tree_count     object
primary_key    object
dtype: object

In [353]:
# cast the data types to correct formats

df_v6_filter.date = pd.to_datetime(df_v6_filter.date)
df_v6_filter.tree_count = pd.to_numeric(df_v6_filter.tree_count)

# Preview dtypes
df_v6_filter.dtypes

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

date           datetime64[ns]
username               object
farmid                 object
tree_count            float64
primary_key            object
dtype: object

In [354]:
# Preview the dataframe
df_v6_filter.head()

                 date  ...                                primary_key
0 2018-11-26 17:02:08  ...  uuid:ee411bd4-40c3-4b26-b6c3-5f9dd54a2d2b
1 2018-11-26 17:02:08  ...  uuid:f3e1f78e-ff75-4093-9432-bc3df0ed9c86
2 2018-11-26 17:02:09  ...  uuid:1b653008-172e-4993-a0d1-509bcbddd1f2
3 2018-11-27 18:05:06  ...  uuid:5d9db66a-3b6b-4658-b1f8-a8f2f93caaa8
4 2018-11-27 18:05:07  ...  uuid:8adff194-9aa6-41cb-a922-c44b63ad99fb

[5 rows x 5 columns]

### Marking and Evaluation Raw 2.0
This represent the Live dataset that is current in production environment and used regularly by the marking and evaluation team

In [355]:
# import Evaluation comms pilot WIDE
sh = gc.open('Marking and Evaluation Raw 2.0')
# Select Spreadsheet
# By title
worksheet_v7 = sh.worksheet('data')
data_v7 = worksheet_v7.get_all_values()
headers = data_v7.pop(0)

df_v7 = pd.DataFrame(data_v7, columns=headers)

# Preview dataframe
df_v7.head()

             SubmissionDate  ... mpesa_phone_name
0  2019-08-14T13:54:13.784Z  ...
1  2019-08-14T13:51:03.457Z  ...
2  2019-08-14T13:54:04.777Z  ...
3  2019-08-14T13:50:18.188Z  ...
4  2019-08-14T13:50:04.485Z  ...

[5 rows x 51 columns]

In [356]:
# Get a subset of the dataset
df_v7_filter = df_v7[['SubmissionDate', 'username', 'kcode', 'total_trees', 'KEY']]

# Preview the filter
df_v7_filter.head()

             SubmissionDate  ...                                        KEY
0  2019-08-14T13:54:13.784Z  ...  uuid:566c155d-c2b2-4c8e-9da3-f779a55bb6fa
1  2019-08-14T13:51:03.457Z  ...  uuid:56f81bd2-b4b3-41fb-ba91-2d26478eeb49
2  2019-08-14T13:54:04.777Z  ...  uuid:66cd257a-09f1-48c8-97b1-b8ac3c5fe308
3  2019-08-14T13:50:18.188Z  ...  uuid:76198455-a30c-4ffd-85ca-2512a53beabe
4  2019-08-14T13:50:04.485Z  ...  uuid:7ca47cdd-98b0-4d4a-8eea-256c0528c502

[5 rows x 5 columns]

In [357]:
# Rename the columns
df_v7_filter.rename(columns={'SubmissionDate': 'date', 'KEY': 'primary_key', 'total_trees': 'tree_count'}, inplace=True)

# Preview the dataframe
df_v7_filter.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                       date  ...                                primary_key
0  2019-08-14T13:54:13.784Z  ...  uuid:566c155d-c2b2-4c8e-9da3-f779a55bb6fa
1  2019-08-14T13:51:03.457Z  ...  uuid:56f81bd2-b4b3-41fb-ba91-2d26478eeb49
2  2019-08-14T13:54:04.777Z  ...  uuid:66cd257a-09f1-48c8-97b1-b8ac3c5fe308
3  2019-08-14T13:50:18.188Z  ...  uuid:76198455-a30c-4ffd-85ca-2512a53beabe
4  2019-08-14T13:50:04.485Z  ...  uuid:7ca47cdd-98b0-4d4a-8eea-256c0528c502

[5 rows x 5 columns]

In [358]:
# Check the data types of the dataset
df_v7_filter.dtypes

date           object
username       object
kcode          object
tree_count     object
primary_key    object
dtype: object

In [359]:
# cast the data types to correct formats

df_v7_filter.date = pd.to_datetime(df_v7_filter.date)
df_v7_filter.tree_count = pd.to_numeric(df_v7_filter.tree_count)

# Preview dtypes
df_v7_filter.dtypes

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

date           datetime64[ns, UTC]
username                    object
kcode                       object
tree_count                   int64
primary_key                 object
dtype: object

In [360]:
# Remove time from date
df_v7_filter['date'] = pd.to_datetime(df_v7_filter['date']).dt.date

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [361]:
# Check new data types
df_v7_filter.dtypes

date           object
username       object
kcode          object
tree_count      int64
primary_key    object
dtype: object

In [362]:
# Change the date to datetime format
df_v7_filter.date = pd.to_datetime(df_v7_filter.date)

# Preview data types
df_v7_filter.dtypes

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

date           datetime64[ns]
username               object
kcode                  object
tree_count              int64
primary_key            object
dtype: object

In [363]:
# Preview the dataframe
df_v7_filter.head()

        date  ...                                primary_key
0 2019-08-14  ...  uuid:566c155d-c2b2-4c8e-9da3-f779a55bb6fa
1 2019-08-14  ...  uuid:56f81bd2-b4b3-41fb-ba91-2d26478eeb49
2 2019-08-14  ...  uuid:66cd257a-09f1-48c8-97b1-b8ac3c5fe308
3 2019-08-14  ...  uuid:76198455-a30c-4ffd-85ca-2512a53beabe
4 2019-08-14  ...  uuid:7ca47cdd-98b0-4d4a-8eea-256c0528c502

[5 rows x 5 columns]

## Merging and Compiling

In [364]:
# Merge the historical MER first since they had similar structure
merged_historical = df_v3_filter.append(
    [df_v4_filter,df_2_final,df_v5_filter,df_v6_filter]
)

# Preview merged dataframe
merged_historical.tail()

                   date  ...                                primary_key
604 2019-08-02 14:53:53  ...  uuid:4f546fad-b913-4b02-aa9f-d0a558bd8e54
605 2019-08-02 14:53:53  ...  uuid:2a33908f-5199-4751-9e78-eb22511c4dda
606 2019-08-02 18:29:54  ...  uuid:d41e3697-9049-4eea-8627-7ed25bb33018
607 2019-08-02 18:29:58  ...  uuid:cc801416-0489-4143-8d0b-d20c20efa2fa
608 2019-08-08 11:07:50  ...  uuid:d0d53d00-6e36-4dfa-959f-3ea3036dac37

[5 rows x 5 columns]

In [365]:
# Reset index
merged_historical.reset_index(inplace=True)

# Preview
merged_historical.tail()

      index  ...                                primary_key
2416    604  ...  uuid:4f546fad-b913-4b02-aa9f-d0a558bd8e54
2417    605  ...  uuid:2a33908f-5199-4751-9e78-eb22511c4dda
2418    606  ...  uuid:d41e3697-9049-4eea-8627-7ed25bb33018
2419    607  ...  uuid:cc801416-0489-4143-8d0b-d20c20efa2fa
2420    608  ...  uuid:d0d53d00-6e36-4dfa-959f-3ea3036dac37

[5 rows x 6 columns]

## Get SSOT

In [366]:
# import Evaluation comms pilot WIDE
sh = gc.open('SSOT Shamba Person_MASTER')
# Select Spreadsheet
# By title
ssot = sh.worksheet('Shamba')
ssot_data = ssot.get_all_values()
headers = ssot_data.pop(0)

ssot_df = pd.DataFrame(ssot_data, columns=headers)

# Preview dataframe
ssot_df.head()

           kcode  ... farmerfollowup_check
0  klf-2008-0001  ...
1  klf-2008-0002  ...
2  klf-2008-0003  ...
3  klf-2008-0004  ...
4  klf-2008-0005  ...

[5 rows x 50 columns]

In [367]:
# Get a subset of the dataset
ssot_filter = ssot_df[['kcode', 'farmid']]

# Preview the filter
ssot_filter.head()

           kcode   farmid
0  klf-2008-0001    gase7
1  klf-2008-0002    gase8
2  klf-2008-0003  emgr206
3  klf-2008-0004  emgr467
4  klf-2008-0005    gase4

### Join the Historical Data with SSOT to get KCODE

In [368]:
ssot_filter.dtypes

kcode     object
farmid    object
dtype: object

In [369]:
merged_historical.drop(columns=['index'], inplace=True)

merged_historical.head()

                 date  ...                                primary_key
0 2018-02-01 10:16:29  ...  uuid:e7955a2a-72c6-40c9-813b-e364761172c6
1 2018-02-01 17:27:13  ...  uuid:d706a4bb-7d4d-47d0-bce9-70bed43b0c9f
2 2018-02-01 17:27:14  ...  uuid:3841ddb7-48d5-45d8-b189-d56ea5545e7c
3 2018-02-01 17:27:15  ...  uuid:546e54ee-3656-4f4c-86b4-b1bd812348cf
4 2018-02-02 07:00:07  ...  uuid:46f22d59-76e2-4490-b93d-4d368754a8aa

[5 rows x 5 columns]

In [370]:
merged_historical

                    date  ...                                primary_key
0    2018-02-01 10:16:29  ...  uuid:e7955a2a-72c6-40c9-813b-e364761172c6
1    2018-02-01 17:27:13  ...  uuid:d706a4bb-7d4d-47d0-bce9-70bed43b0c9f
2    2018-02-01 17:27:14  ...  uuid:3841ddb7-48d5-45d8-b189-d56ea5545e7c
3    2018-02-01 17:27:15  ...  uuid:546e54ee-3656-4f4c-86b4-b1bd812348cf
4    2018-02-02 07:00:07  ...  uuid:46f22d59-76e2-4490-b93d-4d368754a8aa
...                  ...  ...                                        ...
2416 2019-08-02 14:53:53  ...  uuid:4f546fad-b913-4b02-aa9f-d0a558bd8e54
2417 2019-08-02 14:53:53  ...  uuid:2a33908f-5199-4751-9e78-eb22511c4dda
2418 2019-08-02 18:29:54  ...  uuid:d41e3697-9049-4eea-8627-7ed25bb33018
2419 2019-08-02 18:29:58  ...  uuid:cc801416-0489-4143-8d0b-d20c20efa2fa
2420 2019-08-08 11:07:50  ...  uuid:d0d53d00-6e36-4dfa-959f-3ea3036dac37

[2421 rows x 5 columns]

In [371]:
# Ensure the farmid column is in lower case
merged_historical['farmid'] = merged_historical['farmid'].str.lower()
  
merged_historical.head()

                 date  ...                                primary_key
0 2018-02-01 10:16:29  ...  uuid:e7955a2a-72c6-40c9-813b-e364761172c6
1 2018-02-01 17:27:13  ...  uuid:d706a4bb-7d4d-47d0-bce9-70bed43b0c9f
2 2018-02-01 17:27:14  ...  uuid:3841ddb7-48d5-45d8-b189-d56ea5545e7c
3 2018-02-01 17:27:15  ...  uuid:546e54ee-3656-4f4c-86b4-b1bd812348cf
4 2018-02-02 07:00:07  ...  uuid:46f22d59-76e2-4490-b93d-4d368754a8aa

[5 rows x 5 columns]

In [372]:
merged_historical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2421 entries, 0 to 2420
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         2421 non-null   datetime64[ns]
 1   username     2421 non-null   object
 2   farmid       2421 non-null   object
 3   tree_count   1767 non-null   float64
 4   primary_key  2421 non-null   object
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 94.7+ KB

In [373]:
# Ensure the farmid in ssot is in lower case
ssot_filter['farmid'] = ssot_filter['farmid'].str.lower()

ssot_filter.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

           kcode   farmid
0  klf-2008-0001    gase7
1  klf-2008-0002    gase8
2  klf-2008-0003  emgr206
3  klf-2008-0004  emgr467
4  klf-2008-0005    gase4

In [374]:
ssot_filter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19683 entries, 0 to 19682
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   kcode   19683 non-null  object
 1   farmid  19683 non-null  object
dtypes: object(2)
memory usage: 307.7+ KB

In [375]:
joined_historical = pd.merge(left=merged_historical, right=ssot_filter, left_on='farmid', right_on='farmid', how='left')

#Preview
joined_historical.head()

                 date  ...          kcode
0 2018-02-01 10:16:29  ...  klf-2012-1388
1 2018-02-01 17:27:13  ...  klf-2012-1063
2 2018-02-01 17:27:14  ...  klf-2011-0676
3 2018-02-01 17:27:15  ...  klf-2012-0371
4 2018-02-02 07:00:07  ...  klf-2013-0123

[5 rows x 6 columns]

In [376]:
joined_historical.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2421 entries, 0 to 2420
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         2421 non-null   datetime64[ns]
 1   username     2421 non-null   object
 2   farmid       2421 non-null   object
 3   tree_count   1767 non-null   float64
 4   primary_key  2421 non-null   object
 5   kcode        2376 non-null   object
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 132.4+ KB

In [377]:
# Remove time from date

joined_historical['date'] = pd.to_datetime(joined_historical['date']).dt.date

# Preview the new data types
joined_historical.dtypes

date            object
username        object
farmid          object
tree_count     float64
primary_key     object
kcode           object
dtype: object

In [378]:
# Preview the dataset
joined_historical.head()

         date  ...          kcode
0  2018-02-01  ...  klf-2012-1388
1  2018-02-01  ...  klf-2012-1063
2  2018-02-01  ...  klf-2011-0676
3  2018-02-01  ...  klf-2012-0371
4  2018-02-02  ...  klf-2013-0123

[5 rows x 6 columns]

In [379]:
# change the date format
joined_historical.date = pd.to_datetime(joined_historical.date)

# Preview the new data types
joined_historical.dtypes

date           datetime64[ns]
username               object
farmid                 object
tree_count            float64
primary_key            object
kcode                  object
dtype: object

In [380]:
# Rearrange the columns
joined_historical = joined_historical[['date', 'username', 'kcode', 'farmid', 'tree_count', 'primary_key']]

# Preview the new data frame
joined_historical.head()

        date  ...                                primary_key
0 2018-02-01  ...  uuid:e7955a2a-72c6-40c9-813b-e364761172c6
1 2018-02-01  ...  uuid:d706a4bb-7d4d-47d0-bce9-70bed43b0c9f
2 2018-02-01  ...  uuid:3841ddb7-48d5-45d8-b189-d56ea5545e7c
3 2018-02-01  ...  uuid:546e54ee-3656-4f4c-86b4-b1bd812348cf
4 2018-02-02  ...  uuid:46f22d59-76e2-4490-b93d-4d368754a8aa

[5 rows x 6 columns]

### Reformat the Marking and Evaluation 2.0 to match Historical

In [381]:
# Preview the dataset for current live mer
df_v7_filter.head()

        date  ...                                primary_key
0 2019-08-14  ...  uuid:566c155d-c2b2-4c8e-9da3-f779a55bb6fa
1 2019-08-14  ...  uuid:56f81bd2-b4b3-41fb-ba91-2d26478eeb49
2 2019-08-14  ...  uuid:66cd257a-09f1-48c8-97b1-b8ac3c5fe308
3 2019-08-14  ...  uuid:76198455-a30c-4ffd-85ca-2512a53beabe
4 2019-08-14  ...  uuid:7ca47cdd-98b0-4d4a-8eea-256c0528c502

[5 rows x 5 columns]

In [382]:
# Convert the kcode to lower
df_v7_filter['kcode'] = df_v7_filter['kcode'].str.lower()

df_v7_filter.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

        date  ...                                primary_key
0 2019-08-14  ...  uuid:566c155d-c2b2-4c8e-9da3-f779a55bb6fa
1 2019-08-14  ...  uuid:56f81bd2-b4b3-41fb-ba91-2d26478eeb49
2 2019-08-14  ...  uuid:66cd257a-09f1-48c8-97b1-b8ac3c5fe308
3 2019-08-14  ...  uuid:76198455-a30c-4ffd-85ca-2512a53beabe
4 2019-08-14  ...  uuid:7ca47cdd-98b0-4d4a-8eea-256c0528c502

[5 rows x 5 columns]

In [383]:
# Merge the current mer with SSOT to get the farmid
joined_current = pd.merge(left=df_v7_filter, right=ssot_filter, left_on='kcode', right_on='kcode', how='left')

#Preview
joined_current.head()

        date  ...   farmid
0 2019-08-14  ...  crfa345
1 2019-08-14  ...  stse143
2 2019-08-14  ...  crfa348
3 2019-08-14  ...  crfa321
4 2019-08-14  ...  crfa335

[5 rows x 6 columns]

In [384]:
# Rearrange the columns to match the historical datasets
joined_current = joined_current[['date', 'username', 'kcode', 'farmid', 'tree_count', 'primary_key']]

# Preview the new dataset
joined_current.head()

        date  ...                                primary_key
0 2019-08-14  ...  uuid:566c155d-c2b2-4c8e-9da3-f779a55bb6fa
1 2019-08-14  ...  uuid:56f81bd2-b4b3-41fb-ba91-2d26478eeb49
2 2019-08-14  ...  uuid:66cd257a-09f1-48c8-97b1-b8ac3c5fe308
3 2019-08-14  ...  uuid:76198455-a30c-4ffd-85ca-2512a53beabe
4 2019-08-14  ...  uuid:7ca47cdd-98b0-4d4a-8eea-256c0528c502

[5 rows x 6 columns]

In [385]:
# Append current to historical
mer_all_time = joined_historical.append(
    joined_current
)

# Preview the dataset
mer_all_time.head()

        date  ...                                primary_key
0 2018-02-01  ...  uuid:e7955a2a-72c6-40c9-813b-e364761172c6
1 2018-02-01  ...  uuid:d706a4bb-7d4d-47d0-bce9-70bed43b0c9f
2 2018-02-01  ...  uuid:3841ddb7-48d5-45d8-b189-d56ea5545e7c
3 2018-02-01  ...  uuid:546e54ee-3656-4f4c-86b4-b1bd812348cf
4 2018-02-02  ...  uuid:46f22d59-76e2-4490-b93d-4d368754a8aa

[5 rows x 6 columns]

In [386]:
mer_all_time.tail()

          date  ...                                primary_key
304 2019-11-18  ...  uuid:803b60a2-faa2-4569-8118-1530bb3bdaa0
305 2020-01-27  ...  uuid:319c0df0-0fdf-48e4-bd36-be95e2051508
306 2020-01-28  ...  uuid:19ec04e5-86ca-4c53-8fce-b36a3d44659f
307 2020-01-30  ...  uuid:2b2b3809-e7fb-4612-a3ab-41ad1dcf578e
308 2020-02-11  ...  uuid:eb495e6d-f28a-40b3-8e35-d490c5725327

[5 rows x 6 columns]

In [0]:
# Reset index
mer_all_time.reset_index(inplace=True)

In [388]:
mer_all_time.head()

   index       date  ... tree_count                                primary_key
0      0 2018-02-01  ...        NaN  uuid:e7955a2a-72c6-40c9-813b-e364761172c6
1      1 2018-02-01  ...        NaN  uuid:d706a4bb-7d4d-47d0-bce9-70bed43b0c9f
2      2 2018-02-01  ...        NaN  uuid:3841ddb7-48d5-45d8-b189-d56ea5545e7c
3      3 2018-02-01  ...        NaN  uuid:546e54ee-3656-4f4c-86b4-b1bd812348cf
4      4 2018-02-02  ...        NaN  uuid:46f22d59-76e2-4490-b93d-4d368754a8aa

[5 rows x 7 columns]

In [0]:
mer_all_time.drop(columns=['index'], inplace=True)

In [390]:
mer_all_time.tail()

           date  ...                                primary_key
2725 2019-11-18  ...  uuid:803b60a2-faa2-4569-8118-1530bb3bdaa0
2726 2020-01-27  ...  uuid:319c0df0-0fdf-48e4-bd36-be95e2051508
2727 2020-01-28  ...  uuid:19ec04e5-86ca-4c53-8fce-b36a3d44659f
2728 2020-01-30  ...  uuid:2b2b3809-e7fb-4612-a3ab-41ad1dcf578e
2729 2020-02-11  ...  uuid:eb495e6d-f28a-40b3-8e35-d490c5725327

[5 rows x 6 columns]

In [392]:
# Sort the output by date descending
mer_all_time.sort_values(by=['date'], inplace=True, ascending=False)

# Preview the new dataset
mer_all_time.head()

           date  ...                                primary_key
2729 2020-02-11  ...  uuid:eb495e6d-f28a-40b3-8e35-d490c5725327
2728 2020-01-30  ...  uuid:2b2b3809-e7fb-4612-a3ab-41ad1dcf578e
2727 2020-01-28  ...  uuid:19ec04e5-86ca-4c53-8fce-b36a3d44659f
2726 2020-01-27  ...  uuid:319c0df0-0fdf-48e4-bd36-be95e2051508
2724 2019-11-22  ...  uuid:f221554d-2144-4028-8fb2-c8b8280c23c0

[5 rows x 6 columns]

### Upload the output to google drive

In [393]:
# Import PyDrive and associated libraries.
# This only needs to be done once in a notebook.
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client.
# This only needs to be done once in a notebook.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

# Create & upload a csv.
mer_all_time.to_csv("mer_all_time.csv", index=False)
uploaded = drive.CreateFile({'title': 'mer_all_time.csv'})
uploaded.SetContentFile("mer_all_time.csv")
uploaded.Upload()
print('Uploaded file with ID {}'.format(uploaded.get('id')))

Uploaded file with ID 17dRqA4KfmX3NCaVR97sOKS1dgUVvwZqx